.row
  .col-sm-10
    .panel.panel-default
      .panel-heading
        = render 'label', topic: @topic
        %h3.panel-title= @topic.title

      .panel-body
        %table.table
          %tr
            %th 開催日
            %td= @topic.start_date
          %tr
            %th 開催場所
            %td= @topic.place
          %tr
            %th 回答締め切り日
            %td= @topic.deadline_date
          %tr
            %th 概要
            %td= @topic.content

  .col-sm-2
    - if @answer.present?
      %h3= @answer.answer_type
      = link_to '回答を取り消す', topic_answer_path(@topic), class: 'btn btn-link btn-block', method: :delete
    - else
      = render 'answers/form'

.row
  .col-sm-12
    %h3 現在の回答状況
    %table.table
      %thead
        %tr
          %th 出席
          %th 欠席
          %th 未回答
      %tbody
        %tr
          %td= @topic.num_answer(1)
          %td= @topic.num_answer(-1)
          %td= @topic.num_unknown

= render 'comments/index'